<a href="Addresses/Add" class="btn btn-info" role="button">Create New</a>

<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Address Id</th>
        <th>AddressLine 1</th>
        <th>AddressLine 2</th>
        <th>City</th>
        <th>Zipcode 2</th>
        <th>State</th>
        <th>Country</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let add of colService.listAddress">

        <td>{{ add.addressId }}</td>
        <td>{{ add.addLine1 }}</td>
        <td>{{ add.addLine2 }}</td>
        <td>{{ add.city }}</td>
        <td>{{ add.zipcode }}</td>
        <td>{{ add.state }}</td>
        <td>{{ add.country }}</td>
        <td>{{ add.created| date: 'yyyy-MM-dd' }}</td>
        
        <td>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <!-- <a class="dropdown-item" href="#" (click)="populateAddress(add)">Edit</a> -->
              <a class="dropdown-item" href="Addresses/Edit/{{add.addressId}}">Edit</a>
              <a class="dropdown-item" href="#" (click)="deleteAddress(add.addressId)">delete</a>
              
            </div>
          </div>
        </td>
      </tr>
         
    </tbody>
  </table>