<form [formGroup] = "editDepartmentForm" (ngSubmit)="updateDepartment()">
    <!-- <input type="hidden" name="id" [value]="selectedColleague.colleagueId"> -->

    <div class="form-group col-md-5">
      <label for="departmentName">Enter Department Name</label>
      <input type="text" class="form-control" id="departmentName" placeholder="Enter Department Name" formControlName="departmentName" required>
    </div>
    <div class="col-md-3">

        <div class="form-group" col->
          <label for="created">Date and Time</label>
          <input type="datetime-local" class="form-control" name="created" placeholder="Enter current date" required formControlName="created">
      </div>


    </div> 

    <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>