
<h1>{{title}}</h1>
<!-- <nav>
  <a routerLink="/Colleagues">Dashboard</a>
  <a routerLink="/Addresses">Addresses</a>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/Colleagues">Colleagues <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/Addresses">Addresses</a>
        <a class="nav-item nav-link" href="/Departments">Departments</a>
        <a class="nav-item nav-link" href="/DeptColleagues">Dept and Colleagues</a>
      </div>
    </div>
  </nav>


<!-- <div class="container">
    <app-address-detail></app-address-detail>
</div> -->

<router-outlet></router-outlet>
<!-- <app-address-detail></app-address-detail> -->